.wrapper {
  scroll-margin-top: 6rem;
  background: #343436;
}

.portfolio-grid {
  display: grid;
  gap: 2.2rem;
  grid-template-columns: repeat(2, 1fr);
  padding-left: 0;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .portfolio-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
