.wrapper {
  scroll-margin-top: 6rem;
}

.section {
  width: 100%;
  max-width: 66rem;
  margin: 0 auto;
}

.portfolio-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  padding-left: 0;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .portfolio-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
