.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 66rem;
  margin: 0 auto;
  padding-block: 4px;
  /* animation: navbar-slide 700ms ease-in-out forwards; */
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  user-select: none;
}

.logo svg {
  width: 1.5rem;
  height: 1.5rem;
}

.logo span {
  /* background: linear-gradient(to top, #8572ff, #35b5fa);
  background-clip: text;
  -webkit-text-fill-color: transparent; */
  color: #fff;
  font-family: "League Spartan";
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: 6px;
}

.links {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  padding-left: 0;
}

.links li a {
  color: #fff;
  font-family: "League Spartan";
  font-size: 1.25rem;
  text-decoration: none;
  padding: 0.65rem 1rem;
  border-radius: 7px;
  transition: 200ms;
}

.links li a:hover {
  background: #6252c5;
}

.links li a:active {
  background: #6e5ddd;
  transition: none;
}

@keyframes navbar-slide {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-down {
  0% {
    height: 0;
  }
  100% {
    height: 100vh;
  }
}

@media screen and (max-width: 768px) {
  .links {
    gap: 1.5rem;
  }

  .links li a {
    font-size: 1.7rem;
  }
}
