.sidebar {
  position: fixed;
  right: -250px;
  top: 0;
  width: 250px;
  background: rgba(3, 0, 20, 0.65);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  z-index: 1000;
}

.sidebar.open {
  right: 0;
  height: 100vh;
}

.links {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-left: 0;
}

.links li:first-of-type {
  padding-left: 28px;
  padding-block: 20px;
}

.links li a {
  display: block;
  color: #fff;
  font-family: "League Spartan";
  font-size: 1.25rem;
  text-decoration: none;
  padding-left: 40px;
  padding-block: 20px;
  cursor: pointer;
}

.links li a:hover {
  background: hsla(248, 60%, 65%, 0.7);
}

.links li a:active {
  background: hsla(248, 60%, 75%, 0.7);
}
