.container-grid {
  outline: 2px solid #eee4ff;
  /* margin: 10px; */
  border-radius: 0.4rem;
  list-style-type: none;
  position: relative;
  /* animation: slideInLeft 700ms ease forwards; */
  opacity: 0;
  transform: translateX(-50%);
  transition: opacity 1.4s ease, transform 0.5s ease;
  filter: blur(1);
}

.visible {
  opacity: 1;
  transform: translateX(0);
  filter: blur(0);
}

/* Add a delay to each div */
.container-grid:nth-child(1) {
  transition-delay: 0s;
}

.container-grid:nth-child(2) {
  transition-delay: 0.3s;
}

.container-grid:nth-child(3) {
  transition-delay: 0.6s;
}

.container-grid:nth-child(4) {
  transition-delay: 0.9s;
}

.container-grid:hover .overlay {
  opacity: 95%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0.4rem;
}

.description {
  color: white;
  font-size: 1.2rem;
  text-align: justify;
  font-family: "Alegreya Sans", sans-serif;
}

.dark-container {
  border: 3px solid #fff;
}

video {
  border-radius: 0.4rem;
  object-fit: fill;
}

.info-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  color: #fff;
}

.title {
  font-size: 1.4rem;
  font-weight: 600;
  font-family: "Alegreya", serif;
  text-align: center;
}

.coming-soon {
  text-align: center;
  margin-top: -26px;
  margin-bottom: -0.5rem;
  font-style: italic;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 1.1rem;
  color: rgb(255, 95, 95);
  letter-spacing: 1px;
  font-weight: 600;
}

.language-container {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.language {
  background: #b298dc;
  border-radius: 7px;
  padding: 7px;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 500;
}

.button-container {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.button-container a {
  background: #b9faf8;
  border-radius: 7px;
  padding: 0.7em 2em;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 500;
  text-decoration: none;
}

.dark-language {
  border: 3px solid #fff;
}