.container-grid {
  outline: 2px solid #EEE4FF;
  /* margin: 10px; */
  border-radius: 0.4rem;
  list-style-type: none;
  position: relative;
  animation: slideInLeft 700ms ease forwards;
  opacity: 0;
}

/* Add a delay to each div */
.container-grid:nth-child(1) {
  animation-delay: 0.2s;
}

.container-grid:nth-child(2) {
  animation-delay: 0.4s;
}

.container-grid:nth-child(3) {
  animation-delay: 0.6s;
}

.container-grid:nth-child(4) {
  animation-delay: 0.8s;
}

/*setting sizes of first and last items*/
/* .container-grid:first-of-type {
    grid-column: span 2;
}

.container-grid:last-of-type {
    grid-column: span 2;
} */

.container-grid:hover .overlay {
  opacity: 95%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0.4rem;
}

.description {
  color: white;
  font-size: 1.2rem;
  text-align: justify;
  font-family: 'Alegreya Sans', sans-serif;
}

.dark-container {
  border: 3px solid #fff;
}

video {
  border-radius: 0.4rem;
  object-fit: fill;
}

.info-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  color: #fff;
}

.title {
  font-size: 1.3rem;
  font-weight: 600;
  font-family: 'Alegreya', serif;
  text-align: center;
}

.language-container {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.language {
  background: #B298DC;
  border-radius: 7px;
  padding: 7px;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 500;
}

.button-container {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.button-container a {
  background: #b9faf8;
  border-radius: 7px;
  padding: 0.7em 2em;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 500;
  text-decoration: none;
}

.dark-language {
  border: 3px solid #fff;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
