.wrapper {
  width: 100%;
  position: relative;
  margin-bottom: 4rem;
  scroll-margin-top: 6rem;
  padding-inline: 2rem;
}

.inner-container {
  height: max-content;
  width: 100%;
  max-width: 66rem;
  margin: 0 auto;
}

.title-container {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  gap: 2.5rem;
}

.title-container span {
  font-size: 1rem;
  color: gray;
  font-family: "Alegreya", serif;
}

.portfolio-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  padding-left: 0;
  margin: auto;
}

.title {
  text-decoration-thickness: 3px;
  margin: 0;
  color: #6f2dbd;
  font-family: "Alegreya", serif;
  font-size: 2rem;
  position: relative;
}

/* .title::before {
  content: "";
  position: absolute;
  left: 5%;
  bottom: 2rem;
  width: 10%;
  height: 14px;
  transform: skew(-12deg) translateX(-50%);
  background: rgba(185, 250, 248, 0.5);
} */

@media screen and (max-width: 768px) {
  .portfolio-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 516px) {
  .title-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    margin-bottom: 0.85rem;
  }
}
