.container-grid {
  outline: 2px solid #eee4ff;
  /* margin: 10px; */
  border-radius: 0.4rem;
  list-style-type: none;
  position: relative;
  /* animation: slideInLeft 700ms ease forwards; */
  opacity: 0;
  transform: translateX(-50%);
  transition: opacity 1.4s ease, transform 0.5s ease;
  filter: blur(1);
}

.visible {
  opacity: 1;
  transform: translateX(0);
  filter: blur(0);
}

/* Add a delay to each div */
.container-grid:nth-child(1) {
  transition-delay: 0s;
}

.container-grid:nth-child(2) {
  transition-delay: 0.3s;
}

.container-grid:nth-child(3) {
  transition-delay: 0.6s;
}

.container-grid:nth-child(4) {
  transition-delay: 0.9s;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  display: none;
  /* transition: 0.5s ease; */
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0.4rem;
  /* display: flex; */
  align-items: center;
}

.overlay.hovered {
  display: flex;
  opacity: 1;
}

.cross {
  position: absolute;
  top: 0.65rem;
  right: 0.65rem;
  cursor: pointer;
  border-radius: 50%;
  padding: 0.1em;
  transition: 200ms;
  z-index: 2;
}

.description {
  color: white;
  text-align: justify;
  font-family: "Alegreya Sans", sans-serif;
  font-size: clamp(0.8rem, 2vw, 1.2rem);
}

video {
  border-radius: 0.4rem;
  object-fit: fill;
}

.info-container {
  max-width: 65%;
  margin: 0 auto;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  color: #fff;
}

.container-grid:nth-of-type(4) .overlay .info-container .language-container .language {
    margin-top: 4px;
  }

.title {
  font-size: 1.4rem;
  font-weight: 600;
  font-family: "Alegreya", serif;
  text-align: center;
  white-space: nowrap;
}

.coming-soon {
  text-align: center;
  margin-top: -13px;
  margin-bottom: -0.5rem;
  font-style: italic;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 0.92rem;
  color: rgb(255, 95, 95);
  letter-spacing: 1px;
  font-weight: 600;
}

.language-container {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.language {
  background: #b298dc;
  border-radius: 7px;
  padding: 0.5em;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

.button-container {
  display: flex;
  gap: 8px;
  justify-content: center;
  white-space: nowrap;
}

.button-container a {
  background: #b9faf8;
  border-radius: 7px;
  padding: 0.7em 2em;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 500;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .description {
    font-size: clamp(1rem, 3vw, 1.6rem);
  }

  .title {
    font-size: clamp(1.35rem, 3vw, 2rem);
  }

  .language {
    font-size: 0.91rem;
  }

  .button-container a {
    font-size: clamp(0.94rem, 3vw, 1rem);
  }

  .coming-soon {
    font-size: clamp(0.7rem, 2vw, 1.1rem);
    margin-bottom: 2px;
    margin-top: -11px;
  }
}

@media screen and (max-width: 425px) {
  .container-grid:nth-of-type(4) .overlay .info-container {
    gap: 0.4rem;
  }

  .title {
    font-size: 1.15rem;
  }

  .coming-soon {
  }

  .language {
    font-size: 0.8rem;
  }

  .description {
    font-size: 0.9rem;
  }

  .button-container a {
    font-size: 0.81rem;
  }
}
