.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* background: linear-gradient(0.25turn, #6f2dbd, #B298DC); */
  background: #030014;
  font-size: 1rem;
  font-family: "Open Sans";
}

.copyright {
  max-width: 40rem;
  margin: 1rem auto;
  color: #eee4ff;
  font-weight: 500;
}
