/* Navbar container */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* transition: transform 0.3s ease-in-out;
  transform: translateY(-100%); */
  z-index: 9999;
}

/* Navbar open state */
.navbar.open {
  transform: translateY(0);
}

/* Navbar container - inner */
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 20px;
}

/* Logo */
.logo {
  font-size: 24px;
  font-weight: bold;
}

/* Hamburger icon */
.hamburger {
  display: none; /* Hide the hamburger icon on larger screens */
}

@media (max-width: 768px) {
  /* Show the hamburger icon on smaller screens */
  .hamburger {
    display: block;
    cursor: pointer;
  }
  
  /* Hide the nav links by default on smaller screens */
  .nav-links {
    display: none;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  /* Navbar open state - show the nav links */
  .navbar.open .nav-links {
    display: flex;
  }

  /* Style the nav links */
  .nav-links li {
    margin-bottom: 10px;
  }
  
  .nav-links a {
    color: #333333;
    text-decoration: none;
  }
}