.nav-wrapper {
  position: fixed;
  width: 100%;
  background: linear-gradient(0.25turn, #6f2dbd, #b298dc);
  z-index: 100;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding-block: 2px;
  animation: navbar-slide 700ms ease-in-out forwards;
}

.title {
  color: #b9faf8;
  font-family: 'Alegreya', serif;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 1.4rem;
  text-decoration: none;
}

.links {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

.links li a {
  color: #fff;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 1.3rem;
  text-decoration: none;
  padding: 0.65rem 1rem;
  border-radius: 24px;
}

.links li a:hover {
  background: #b298dc;
  transition: 200ms;
}

.links li a:active {
  background: #c5a9f3;
  transition: 200ms;
}

@keyframes navbar-slide {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
