.section {
  width: 100%;
  max-width: 66rem;
  margin: 0 auto;
  align-items: center;
}

.title-container {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  gap: 2.5rem;
}

.title-container span {
  font-size: 1rem;
  color: gray;
  font-family: "Alegreya", serif;
}
