.wrapper {
  background: #eee4ff;
  scroll-margin-top: 4.7rem;
}

.section {
  opacity: 0;
  transform: translateX(-50%);
  transition: opacity 800ms, transform 800ms;
  filter: blur(100%);
}

.section.visible {
  opacity: 1;
  transform: translateX(0%);
  filter: blur(0%);
}

.section p {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 1.4rem;
  line-height: 1.96rem;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .section {
    flex-wrap: wrap;
    justify-content: center;
  }
}
