.container {
  border-radius: 0.4rem;
  width: 16.5rem;
}

.container img {
  width: 100%;
  /* flex: 1; */
}

/* @media screen and (max-width: 783px) {
  .headshot {
    max-width: 12.5rem;
  }
} */
