.tool {
  list-style-type: none;
  width: clamp(4.9rem, 14vw, 6.5rem);
  font-size: clamp(0.8rem, 2vw, 1rem);
  text-align: center;
  padding: 0.9em;
  opacity: 0;
  transform: translateX(-50%);
  transition: opacity 300ms ease, transform 300ms ease;
  filter: blur(1);
}

.tool span {
  color: black;
  font-weight: 500;
  margin-top: 20px;
}

.visible {
  opacity: 1;
  transform: translateX(0);
  filter: blur(0);
}

.tool:nth-child(1) {
  transition-delay: 0s;
}

.tool:nth-child(2) {
  transition-delay: 0.1s;
}

.tool:nth-child(3) {
  transition-delay: 0.2s;
}

.tool:nth-child(4) {
  transition-delay: 0.3s;
}

.tool:nth-child(5) {
  transition-delay: 0.4s;
}

.tool:nth-child(6) {
  transition-delay: 0.5s;
}

.tool:nth-child(7) {
  transition-delay: 0.6s;
}

.tool:nth-child(8) {
  transition-delay: 0.7s;
}

.tool:nth-child(9) {
  transition-delay: 0.8s;
}

.tool:nth-child(10) {
  transition-delay: 0.9s;
}

.tool:nth-child(11) {
  transition-delay: 1s;
}
