.tools {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-left: 0;
}

@media (max-width: 858px) {
  .tools-list {
    justify-content: center;
  }
}

@media (min-width: 1200px) {
  .tools-list {
    justify-content: flex-start;
  }
}