.wrapper {
  width: 100%;
  position: relative;
  background: linear-gradient(0.25turn, #6f2dbd, #b298dc);
  padding-block: 2rem;
}

.inner-container {
  width: 100%;
  max-width: 66rem;
  margin: 0 auto;
  display: flex;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 1.25rem;
  line-height: 1.7rem;
}

.info-container {
  color: white;
  flex: 1;
}

.social-links {
  display: flex;
  gap: 0.75rem;
}

.icon {
  height: 45px;
  width: 45px;
}
