.container {
  width: 100%;
  margin: 0 auto 20px auto;
  flex: 1.5;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.input {
  padding: 10px;
  border-radius: 0.2rem;
  margin-top: 12px;
  border: 1px solid rgb(80, 80, 80);
  font-size: 1.2rem;
  font-family: "Open Sans";
  background: #18171d;
}

.input:focus {
  outline: none;
  border-color: #c36ef5;
  background: #f8edff;
}

/*To be applied on name input to make title margins uniform*/
.name {
  margin-top: 0;
}

.text-area {
  padding: 10px;
  border-radius: 0.2rem;
  margin-top: 12px;
  /* border: 1px solid; */
  font-size: 1.2rem;
  font-family: "Open Sans";
  resize: none;
  background: #18171d;
}

.text-area:focus{
  outline: none;
  border-color: #c36ef5;
  background: #f8edff;
}

.success {
  font-size: larger;
  color: rgb(136, 212, 136);
}

.error {
  font-size: larger;
  color: rgb(233, 110, 110);
}

.form-button {
  padding: 0.8em 2em;
  border-radius: 0.4rem;
  /* width: 100%;
  max-width: 13rem; */
  font-size: 1.2rem;
  font-family: "Open Sans";
  font-weight: 500;
  border: none;
  background: linear-gradient(to top, #4a3a9f, #6252c5);
  color: #fff;
  cursor: pointer;
  margin-top: 12px;
  transition: 200ms;
  user-select: none;
  position: relative;
}

.form-button:hover {
  background: linear-gradient(to top, #6252c5, #826fff);
}

.form-button:active {
  background: #897cdd;
  transition: none;
}

.loading-spinner {
  height: 1.12rem;
  width: 1.12rem;
}

@media (max-width: 768px) {
  .form {
    margin-block: 2rem;
    margin-inline: 0;
  }
}
