.wrapper {
  width: 100%;
  position: relative;
  background: #6f2dbd;
  padding-block: 2rem;
}

.inner-container {
  width: 100%;
  max-width: 66rem;
  margin: 0 auto;
  display: flex;
}

.info-container {
  color: white;
}

.social-links {
  display: flex;
  gap: 0.75rem;
}

.github {
  height: 45px;
  width: 45px;
}

.linkedin {
  height: 45px;
  width: 45px;
}
