.wrapper {
  background: linear-gradient(0.25turn, #6f2dbd, #b298dc);
}

.section {
  width: 100%;
  max-width: 66rem;
  margin: 0 auto;
  display: flex;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 1.4rem;
  line-height: 1.96rem;
  transform: translateX(-50%);
  transition: opacity 800ms, transform 800ms;
  filter: blur(100%);
}

.section.visible {
  opacity: 1;
  transform: translateX(0%);
  filter: blur(0%);
}

.info-container {
  color: white;
  flex: 1;
}

@media screen and (max-width: 768px) {
  .section {
    flex-wrap: wrap;
    justify-content: center;
  }

  .info-container {
    flex-basis: 100%;
  }
}
