.container {
  width: 100%;
  margin: 0 auto 20px auto;
  flex: 1.5;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.input {
  padding: 10px;
  border-radius: 0.4rem;
  margin-top: 12px;
  border: 3px solid #c4c4c4;
  font-size: large;
}

.input:focus {
  outline: none;
  border-color: #c36ef5;
  background: #f8edff;
}

/*To be applied on name input to make title margins uniform*/
.name {
  margin-top: 0;
}

.text-area {
  padding: 10px;
  border-radius: 0.4rem;
  margin-top: 12px;
  border: 3px solid #c4c4c4;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  resize: none;
}

.text-area:focus{
  outline: none;
  border-color: #c36ef5;
  background: #f8edff;
}

.success {
  font-size: larger;
  color: rgb(136, 212, 136);
}

.error {
  font-size: larger;
  color: rgb(233, 110, 110);
}

.form-button {
  padding: 14px;
  border-radius: 0.4rem;
  width: 100%;
  max-width: 10rem;
  font-size: large;
  font-weight: 600;
  border: none;
  background: #b9faf8;
  color: #6f2dbd;
  cursor: pointer;
  margin-top: 12px;
  transition: 200ms;
  user-select: none;
}

.form-button:hover {
  background: #a6e0de;
}

.form-button:active {
  background: #ccfffd;
  transition: none;
}

@media (max-width: 768px) {
  .form {
    margin-block: 2rem;
    margin-inline: 0;
  }
}
