.message {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 1rem;
}

.sending {
  color: rgba(255, 255, 255, 0.8)
}

.send-successful {
  color: rgb(67, 195, 90);
}

.send-failed {
  color: rgb(255, 77, 77);
}
