.wrapper {
  display: flex;
  width: 100%;
  background: linear-gradient(0.25turn, #6f2dbd, #b298dc);
  height: 100vh;
  padding-inline: 2rem;
}

.section {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  align-items: center;
  max-width: 66rem;
  margin: 0 auto;
  animation: slide-down 700ms ease-in-out forwards;
}

.content {
  flex: 1 1 50%; /* Let content take up 50% of the container's width */
}

.content h1 {
  color: #eee4ff;
  font-size: 3.6rem;
  line-height: 4.7rem;
  margin: 0;
  font-family: "Alegreya", serif;
  font-weight: 600;
}

.content p {
  color: white;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 300;
  max-width: 37rem;
}

.content p span {
  font-weight: 500;
}

.green-text {
  color: #b9faf8;
}

.button-container {
  display: flex;
  gap: 1.4rem;
  margin-top: 2.4rem;
  width: 300px; /* Adjust this width as needed */
}

.button-container a {
  text-decoration: none;
  background: #b9faf8;
  color: #6f2dbd;
  padding: 0.7em 2.3em;
  font-size: 1.4rem;
  border-radius: 0.4rem;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 700;
  transition: 200ms;
}

.button-container a:hover {
  background: #a6e0de;
}

.arrow {
  fill: #b9faf8;
  height: 1.8rem;
  width: 1.8rem;
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
  margin: auto;
  animation: floating 1.5s ease-in-out infinite;
}

.headshot-container {
}

.headshot {
  /* height: 100%;
  width: 100%;
  object-fit: cover; */
  width: 18rem;
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-14px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-30%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@media screen and (max-width: 768px) {
  .container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .content {
    flex-basis: 100%;
  }

  .content h1 {
    font-size: 3.2rem;
    line-height: 4.1rem;
  }

  .content p {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }

  .button-container a {
    padding: 0.5em 2.1em;
    font-size: 1.3rem;
  }

  .headshot {
    height: 14rem;
    width: 14rem;
  }
}

@media screen and (max-width: 389px) {
  .content h1 {
    font-size: 2.5rem;
    line-height: 3.25rem;
  }

  .content p {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }

  .button-container a {
    padding: 0.5em 2.1em;
    font-size: 1.3rem;
  }
}
