.wrapper {
  /* background: linear-gradient(0.25turn, #6f2dbd, #b298dc); */
  background: #030014;
  height: 100vh;
}

.section {
  display: flex;
  justify-content: center;
  gap: 3rem;
  align-items: center;
  width: 100%;
  max-width: 66rem;
  margin: 0 auto;
  animation: slide-down 700ms ease-in-out forwards;
}

.left-container {
  flex: 1;
}

.left-container h1 {
  color: #64b4df;
  font-size: 3.5rem;
  line-height: 3.85rem;
  margin: 0;
  font-family: "Alegreya", serif;
  font-weight: 600;
}

.left-container h3 {
  color: white;
  font-size: 1.6rem;
  line-height: 2.08rem;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 300;
  /* max-width: 37rem; */
}

.left-container h3 span {
  /* font-weight: 500; */
}

.purple-text {
  /* color: transparent;
  background-image: linear-gradient(90deg, #7d71ca, #55b1e2);
  background-clip: text; */
  font-weight: 700;
}

.button-container {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.button-container a {
  text-decoration: none;
  /* background: #b9faf8; */
  background: #7265c9;
  color: #fff;
  padding: 0.8em 2em;
  font-size: 1.4rem;
  border-radius: 0.4rem;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 500;
  transition: 200ms;
  user-select: none;
}

.button-container a:hover {
  transform: scale(1.08);
}

.animated-graphic {
  width: 100%;
  /* max-width: 25rem; */
  /* border: solid 1px #fff; */
  flex: 1;
}

.animated-graphic video {
  object-fit: fill;
}

.arrow {
  fill: #2a9fde;
  height: 1.7rem;
  width: 1.7rem;
  position: absolute;
  bottom: 0.85rem;
  left: 0;
  right: 0;
  margin: auto;
  animation: floating 1.5s ease-in-out infinite;
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-30%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@media screen and (max-width: 783px) {
  .section {
    flex-wrap: wrap;
    gap: 0;
    padding-top: 2rem;
  }

  .left-container {
    flex-basis: 100%;
  }

  .left-container h1 {
    font-size: 3.1rem;
    line-height: 3.41rem;
  }

  .left-container p {
    font-size: 1.5rem;
    line-height: 1.95rem;
  }

  .button-container a {
    padding: 0.5em 2.1em;
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 389px) {
  .left-container h1 {
    font-size: 2.5rem;
    line-height: 2.75rem;
  }

  .left-container p {
    font-size: 1.2rem;
    line-height: 1.56rem;
  }

  .button-container a {
    padding: 0.5em 2.1em;
    font-size: 1.3rem;
  }
}
