.container {
  position: relative;
  /* width: 100%;
  height: 550px; */
  /* border: solid 1px white; */
  /* transform: scale(0.7); */
  z-index: 1;
  /* flex: 1; */
}

.svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gear {
  transform-origin: 300px 250px;
  animation: rotateGear 30s linear infinite;
}

.ring path {
  animation: glow 2.5s linear infinite;
}

@keyframes rotateGear {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes glow {
  0% {
    filter: drop-shadow(0 0 6px hsl(248, 100%, 82%));
  }

  50% {
    filter: drop-shadow(0 0 10px hsl(248, 100%, 82%));
  }

  100% {
    filter: drop-shadow(0 0 6px hsl(248, 100%, 82%));
  }
}
