.ring {
  position: relative;
  left: 50%;
  top: 0;
  transform: translateX(-50%) rotate(-108deg);
  z-index: 20;
  width: 100%;
  max-width: 512px;
  height: 512px;
  /* opacity: 0.5; */
}

.segment {
  position: absolute;
  top: 0;
  left: 0;
  /* stroke: white;
  stroke-width: 3; */
}
