.headshot {
  height: 18rem;
  width: 18rem;
  border-radius: 50%;
  margin-inline: auto;
  background: #EEE4FF;
  padding: 2rem;
}

@media screen and (max-width: 768px) {
  .headshot {
    height: 11rem;
    width: 11rem;
  }
}

@media screen and (max-width: 389px) {
  .headshot {
    height: 11rem;
    width: 11rem;
  }
}
