.social-links {
  display: flex;
  gap: 1rem;
}

.icon {
  height: 35px;
  width: 35px;
  transition: 200ms;
}

.icon:hover {
  /* fill: #a6e0de; */
  /* fill: #7265c9; */
}

.icon:active {
  /* fill: #ccfffd; */
  transition: none;
}

@media screen and (max-width: 768px) {
  .social-links {
    justify-content: center;
  }
}
