.social-links {
  display: flex;
  gap: 0.75rem;
}

.icon {
  height: 45px;
  width: 45px;
  transition: 200ms;
}

.icon:hover {
  fill: #a6e0de;
}

.icon:active {
  fill: #ccfffd;
  transition: none;
}

@media screen and (max-width: 768px) {
  .social-links {
    justify-content: center;
  }
}
